<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ojo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".InspireFaceTestActivity"
            android:exported="true"
            android:label="InspireFace Test" />
        <activity
            android:name=".ModelFileTestActivity"
            android:exported="true"
            android:label="Model File Test" />
        <activity
            android:name=".DirectInspireFaceTestActivity"
            android:exported="true"
            android:label="Direct InspireFace Test" />
        <activity
            android:name=".FaceDetectionTestActivity"
            android:exported="true"
            android:label="Face Detection Test" />
        <activity
            android:name=".IntegratedAITestActivity"
            android:exported="true"
            android:label="Integrated AI Test" />
        <activity
            android:name=".CompletePipelineTestActivity"
            android:exported="true"
            android:label="Complete Pipeline Test" />
        <activity
            android:name=".RealYOLOTestActivity"
            android:exported="true"
            android:label="Real YOLO Test" />
        <activity
            android:name=".RealTimeVideoActivity"
            android:exported="true"
            android:label="Real Time Video AI"
            android:screenOrientation="landscape" />
    </application>

</manifest>